{% extends 'layout.html' %}

{% block item_rs %}
<li class="nav-item">
{% endblock %}

{% block item_ro %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_aws %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_ad %}
<li class="nav-item">
{% endblock %}

{% block item_f5 %}
<li class="nav-item active">
{% endblock %}

{% block item_ci %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_hp %}
<li class="nav-item dropdown">
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle">F5 STATE</div>
          <h2 id="getstate" class="page-title">
            Pool state 
          </h2>
        </div>
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <a
            href="#"
            class="btn btn-primary d-none d-sm-inline-block"
            data-bs-toggle="modal"
            data-bs-target="#modal-report"
          >
            <svg
              xmlns="https://www.w3.org/2000/svg"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            Add new pool
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="card">
        <div class="card-body">
          <div id="table-default">
          <div class="table">
            <div class="table-responsive">
              <table
                class="table card-table table-vcenter text-nowrap datatable"
              >
                <thead>
                  <tr>
                    <th><button class="table-sort asc" data-sort="sort-name">Name</button></th>
                    <th><button class="table-sort asc" data-sort="sort-server">Server</th>
                    <th><button class="table-sort asc" data-sort="sort-environment">Environment</th>
                    <th><button class="table-sort asc" data-sort="sort-project">Project</th>
                    <th>State</th>
                    <th>Conn count</th>
                    <th>Time</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="table-tbody">
                  {% csrf_token %}
                  {% for pool in pool_list %}
                    <tr id='{{ pool.server }}_{{ pool.name }}_tr' class="pool-tr">
                      <td id='{{ pool.server }}_{{ pool.name }}_name' class="sort-name">{{ pool.name }}</td>
                      <td id='{{ pool.server }}_{{ pool.name }}_server' class="sort-server">{{ pool.server }}</td>
                      <td id='{{ pool.server }}_{{ pool.name }}_environment' class="sort-environment">{{ pool.get_environment_display }}</td>
                      <td id='{{ pool.server }}_{{ pool.name }}_project' class="sort-project">{{ pool.project }}</td>
                      <td id='{{ pool.server }}_{{ pool.name }}_state' >
                        <span id='{{ pool.server }}_{{ pool.name }}_state_icon' class="badge bg-warning me-1"></span>   N/A   
                      </td>
                      <td id='{{ pool.server }}_{{ pool.name }}_connection'>   N/A   </td>
                      <td id='{{ pool.server }}_{{ pool.name }}_time'>   N/A   </td>
                      <td>
                        <span class="dropdown">
                          <button
                            class="btn dropdown-toggle align-text-top"
                            data-bs-boundary="viewport"
                            data-bs-toggle="dropdown"
                          >
                            Actions
                          </button>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" onclick="getmember('{{ pool.server }}', '{{ pool.name }}')" > Get member </a>
                            <a class="dropdown-item" onclick="confirmaction('Do you want to enable the pool {{ pool.name }}?', 'poolaction', '{{ pool.server }}', '{{ pool.name }}', 'enable')" > Enable </a>
                            <a class="dropdown-item" onclick="confirmaction('Do you want to force offline the pool {{ pool.name }}?', 'poolaction', '{{ pool.server }}', '{{ pool.name }}', 'forceoffline')" > Force offline </a>
                            <a id='{{ pool.server }}_{{ pool.name }}_remove'
                              class="dropdown-item" onclick="confirmaction('Do you want to remove the pool {{ pool.name }} from the list?', 'removepool', '{{ pool.server }}', '{{ pool.name }}')"> Remove </a>
                          </div>
                        </span>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle">F5 STATE</div>
          <h2 id="poolname" class="page-title">
            Member state
          </h2>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Auto refresh</h4>
          <label class="form-check form-check-single form-switch">
            <input id="autorefresh" class="form-check-input" type="checkbox" onclick="autorefresh()">
          </label>
        </div>
        <div class="card-body">
          <div id="table-default">
          <div class="table">
            <div class="table-responsive">
              <table class="table table-vcenter card-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>Cur conn</th>
                    <th>Max conn</th>
                    <th>Total conn</th>
                    <th class="w-1"></th>
                  </tr>
                </thead>
                <tbody id="membertable" class="table-tbody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-report"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new pool</h5>
      </div>
      <form method="POST">
        <div class="modal-body">
          <div class="mb-3">
              {% csrf_token %}
              {% for field in form_pool %}
                {{ field.label }}{{ field }}
              {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <a
            href="#"
            class="btn btn-link link-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </a>
          <button href="#" type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <svg
              xmlns="https://www.w3.org/2000/svg"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            Add new pool
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
  const list = new List('table-default', {
    sortClass: 'table-sort',
    listClass: 'table-tbody',
    valueNames: [ 'sort-name', 'sort-server', 'sort-environment', 'sort-project' ]
  });
  })
</script>

<script>
  var setInterval_ID = ""
  var pool_name_auto = ""
  var server_name_auto = ""
  var pool_changed = 0
  var max_refresh_count = 60
  var refresh_count = 0
  var interval = 30000

  blueprogressbar = '<div class="progress"><div class="progress-bar progress-bar-indeterminate bg-blue"></div></div>'
</script>

<script type='text/javascript'>
  function getpoolstate(server_name, pool_name) {
    currentTime = moment().format('HH:mm:ss');
    $.ajax({
      url: '/f5/pool/state/',
      type: 'GET',
      data: {
        server_name: server_name,
        pool_name: pool_name
      },
      dataType: 'JSON',
      success: function(res) {
        $('#getstate').html("Pool state table updated at " + currentTime);
        $('#' + server_name + '_' + pool_name + '_connection').html(res.connection);
        $('#' + server_name + '_' + pool_name + '_time').html(currentTime);
        if (res.state == 'available') {
          $('#' + server_name + '_' + pool_name + '_state').html('<span class="badge bg-success me-1"></span> Running ');
        }
        else {
          $('#' + server_name + '_' + pool_name + '_state').html('<span class="badge bg-danger me-1"></span> Stopped ');
        }
      },
      error: function(res) {
        $('#getstate').html("Pool state table updated at " + currentTime);
        $('#' + server_name + '_' + pool_name + '_connection').html('Error');
        $('#' + server_name + '_' + pool_name + '_time').html(currentTime);
        $('#' + server_name + '_' + pool_name + '_state').html('<span class="badge bg-danger me-1"></span> Error ');
      }
    })
  }
</script>

<script type='text/javascript'>
  function removepool(server_name, pool_name) {
    const itmes = ["_name", "_server", "_project", "_environment", "_state", "_connection", "_time"];

    for (let i = 0; i < itmes.length; i++) {
      $('#' + server_name + '_' + pool_name + itmes[i]).html(blueprogressbar);
    }

    $.ajax({
      url: '/f5/pool/remove/',
      type: 'GET',
      data: {
        server_name: server_name,
        pool_name: pool_name
      },
      dataType: 'JSON',
      success: function() {
        $('#' + server_name + '_' + pool_name + '_tr').remove();
      }
    })
  }
</script>

<script type='text/javascript'>
  function getmember(server_name, pool_name) {
    pool_trs = document.getElementsByClassName("pool-tr")
    for (let i = 0; i < pool_trs.length; i++) {
      console.log(pool_trs[i].id) 
      document.getElementById(pool_trs[i].id).style.borderColor=""
      document.getElementById(pool_trs[i].id).style.borderWidth="" 
    }

    document.getElementById(server_name + '_' + pool_name + '_tr').style.borderColor="#bbdefb"
    document.getElementById(server_name + '_' + pool_name + '_tr').style.borderWidth="3px"

    getpoolstate(server_name, pool_name)
    currentTime = moment().format('HH:mm:ss');
    members = ""
    state = ""
    $('#poolname').removeAttr('style')
    $('#poolname').html(blueprogressbar);
    $('#membertable').html(members);

    server_name_auto = server_name
    pool_name_auto = pool_name
    if (setInterval_ID != ""){
      clearInterval(setInterval_ID)
      setInterval_ID = ""
      pool_changed = 1
    }
    else{
      pool_changed = 0
    }

    $.ajax({
      url: '/f5/member/state/',
      type: 'GET',
      data: {
        server_name: server_name,
        pool_name: pool_name
      },
      dataType: 'JSON',
      success: function(res) {
        for (let i = 0; i < res.length; i++) {
          if (res[i].state == 'available') {
            state = '<span class="badge bg-success me-1"></span> Running '
          }
          else {
            state = '<span class="badge bg-danger me-1"></span> Stopped '
          }
          members += '<tr>\
            <td>' + res[i].name + '</td>\
            <td id=memberstate_' + i + '>' + state + '</td>\
            <td id=membercurconn_' + i + '>' + res[i].curconn + '</td>\
            <td id=membermaxconn_' + i + '>' + res[i].maxconn + '</td>\
            <td id=membertotalconn_' + i + '>' + res[i].totconn + '</td></tr>'
        }
        $('#poolname').html(pool_name + ' updated at ' + currentTime);
        $('#membertable').html(members);

        pool_changed = 0
        autorefresh()
      },
      error: function(res) {
        $('#poolname').attr("style", "color:red;")
        $('#poolname').html('Get member error');
      }
    })
  }
</script>

<script type='text/javascript'>
  function autorefresh(){
    status = document.getElementById("autorefresh").checked
    if (status == "true") {
      refresh_count = 0
      setInterval_ID = setInterval(updatestate, interval, server_name_auto, pool_name_auto);
    }
    else{
      clearInterval(setInterval_ID)
      setInterval_ID = ""
    }
  }
</script>

<script type='text/javascript'>
  function updatestate(server_name, pool_name) {
    if (refresh_count == max_refresh_count) {
      clearInterval(setInterval_ID)
      document.getElementById("autorefresh").checked = 0
      return true
    }
    if (pool_changed == 1) {
      return true
    }
    currentTime = moment().format('HH:mm:ss');
    refresh_count ++

    $.ajax({
      url: '/f5/member/state/',
      type: 'GET',
      data: {
        server_name: server_name,
        pool_name: pool_name
      },
      dataType: 'JSON',
      success: function(res) {
        for (let i = 0; i < res.length; i++) {
          getpoolstate(server_name, pool_name)
          if (res[i].state == 'available') {
            state = '<span class="badge bg-success me-1"></span> Running '
          }
          else {
            state = '<span class="badge bg-danger me-1"></span> Stopped '
          }
          $('#memberstate_' + i).html(state)
          $('#membercurconn_' + i).html(res[i].curconn)
          $('#membermaxconn_' + i).html(res[i].maxconn)
          $('#membertotalconn_' + i).html(res[i].totconn)
        }
        $('#poolname').html(pool_name + ' updated at ' + currentTime);
      },
      error: function(res) {
        $('#poolname').attr("style", "color:red;")
        $('#poolname').html('get member error');
      }
    })
  }
</script>

<script type='text/javascript'>
  function poolaction(server_name, pool_name, action) {
    const itmes = ["_state", "_connection", "_time"];
    for (let i = 0; i < itmes.length; i++) {
      $('#' + server_name + '_' + pool_name + itmes[i]).html(blueprogressbar);
    }
    $('#poolname').html(blueprogressbar);
    $.ajax({
      url: '/f5/pool/action/',
      type: 'GET',
      data: {
        server_name: server_name,
        pool_name: pool_name,
        action: action
      },
      dataType: 'JSON',
      success: function(res) {
        updatestate(server_name, pool_name)
      },
      error: function(res) {
        updatestate(server_name, pool_name)
      }
    })
  }
</script>

<script type='text/javascript'>
  function confirmaction(message, func_name, server_name, pool_name, action) {
    confirmed = confirm(message)
    if (confirmed == true) {
      switch (func_name) {
        case 'getmember':
          getmember(server_name, pool_name)
          break
        case 'poolaction':
          poolaction(server_name, pool_name, action)
          break
        case 'removepool':
          removepool(server_name, pool_name)
          break
        default:
          alert("Error command")
      }
    }
  }
</script>

{% endblock %}