<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="rmphandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\RE\Aaron\site\ReleaseManagementProcess\rmpvenv\Scripts\python.exe|C:\RE\Aaron\site\ReleaseManagementProcess\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\RE\Aaron\site\ReleaseManagementProcess\rmpvenv\Scripts" />
        <add key="DJANGO_SETTINGS_MODULE" value="rmp.settings" />
        <add key="WSGI_LOG" value="C:\RE\Aaron\site\ReleaseManagementProcess\error.log" />
    </appSettings>
</configuration>
