{% extends 'layout.html' %}
{% load static %}
{% block css %}
<style type="text/css">
  a:link {
    color: #206bc4;
    font-weight: 600;
  }
  .ro-component {
    background-color:#2185D0;
    font-size: 0.71rem;
    color:white;
    border-radius:0.18rem;
    border-color:#2185D0;
    padding-top: 0.1em;
    padding-right: 0.7em;
    padding-bottom: 0.1em;
    padding-left: 0.7em;
    font-weight: 500;
  }
  .ro-env-span{
    display: inline-block;
    clear:both;
    background-color:#767676;
    font-size: 0.71rem;
    color:white;
    border-radius:0.18rem;
    border-color:#767676;
    padding-top: 0.1em;
    padding-right: 0.7em;
    padding-bottom: 0.1em;
    padding-left: 0.7em;
    font-weight: 550;
    width: 80px;
    text-align: center;
  }
  .ro-env-label{
    margin: 0.2em;
    width: 80px;
    vertical-align: text-top;
  }
  .ro-env-td{
    width: 400px;
    border-width: 1px;
  }
  .ro-issue-span{
    clear:both;
    display: inline-block;
    line-height: 1;
    background-color: #E8E8E8;
    font-size: 0.63rem;
    color: rgb(232, 232, 232);
    border-radius:0.18rem;
    border-color:#767676;
    font-weight: 700;
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.7em;
    display: inline-block
  }
  .ro-issue-td{
    width: 220px;
  }
  .text-muted{
    border-width: 1px;
    text-align: center;
  }
  .btn-ro-release{
    background-color: #767676;
    font-size: 0.81rem;
    color:white;
    border-radius: 0.18rem;
    border-color: #767676;
    padding-top: 0.1em;
    padding-right: 0.5em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    font-weight: 550;
    width: 120px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px
  }
  .ro-env-name{
    width: 40px;
    background-color: rgba(75,84,98,.03);
    border-radius: 0.18rem;
    font-size: 0.61rem;
    text-align: center;
  }

</style>
{% endblock %}

{% block item_rs %}
<li class="nav-item">
{% endblock %}

{% block item_ro %}
<li class="nav-item active">
{% endblock %}

{% block item_aws %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_f5 %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_ci %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_ad %}
<li class="nav-item">
{% endblock %}

{% block item_hp %}
<li class="nav-item dropdown">
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle">
            Release Object
          </div>
          <h2 id='title_details' class="page-title">
            RMP Release Object Details
          </h2>
        </div>
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <button id='test' class="btn" data-bs-toggle="offcanvas" href="#offcanvasTop" role="button" aria-controls="offcanvasTop">
            Show progress bar
          </button>
          <button id='test' class="btn" data-bs-toggle="modal" data-bs-target="#modal-report">
            Create from Jira
          </button>
          <button class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasTop" role="button" aria-controls="offcanvasTop"  onclick="load_ro()">
            Load Release Object
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group mb-3 row">
                <label class="form-label col-3 col-form-label">RMP orgunit</label>
                <div class="col">
                  <select id="rmp_orgunit" class="form-select" onchange="read_rmp_fix_version()">
                    <option disabled selected value style="display:none"> </option>
                    <option value="BUX">BUX</option>
                    <option value="CBS">CBS</option>
                    <option value="GWA">GWA</option>
                  </select>
                  <small class="form-hint">select orgunit to load existing release object.</small>
                </div>
              </div>
              <div class="form-group mb-3 row">
                <label class="form-label col-3 col-form-label">RMP fix version</label>
                <div class="col">
                  <select id="rmp_fix_version" class="form-select" disabled="">
                  </select>
                  <small class="form-hint">select fix version to load existing release object.</small>
                </div>
              </div>
              <div class="form-group mb-3 row">
                <label class="form-label col-3 col-form-label">Options</label>
                <div class="col">
                  <label class="form-check" style="margin-top: .5rem">
                    <input id="rmp_released_only" class="form-check-input" type="checkbox" checked="" onclick="read_rmp_fix_version()">
                    <small class="form-hint">unreleased only</small>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="detail-table" class="container-xl" style="display: none">
      <div class="row row-cards">
        <div class="col-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-vcenter card-table">
                <thead>
                  <tr>
                    <th style="text-align: center">Component</th>
                    <th style="text-align: center">Release Version</th>
                    <th style="text-align: center">Assembled</th>
                    <th style="text-align: center">Environments</th>
                    <th style="text-align: center">Latest</th>
                    <th style="text-align: center">Issues</th>
                  </tr>
                </thead>
                <tbody id="ro-table">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="ro-process-title" class="container-xl" style="display: none">
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle">
            Release Object
          </div>
          <h2 id='title_release_process' class="page-title">
          </h2>
        </div>
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <button id="start-release" class="btn btn-primary" disabled=true data-bs-toggle="modal" data-bs-target="#modal-confirmaction" onclick="start_next_env_test()">
            Start Release on PIE
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="ro-process-flow" class="page-body" style="display: none">
    <div class="container-xl">
      <div class="card">
        <div id="release_process_table" class="card-body">
          <div class="accordion" id="accordion-bux" style="display: none">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false">
                  BUX_PIE Process
                </button>
              </h2>
              <div id="collapse-1" class="accordion-collapse collapse" data-bs-parent="#accordion-bux" style="">
                <div class="accordion-body pt-0">
                  <div>
                    <label class="ro-env-name">PIE</label>
                    <button id="pie-deploy" class="btn btn-ro-release" disabled=true>Deploy</button><br>
                    <label class="ro-env-name">PIE</label>
                    <button id="pie-test" class="btn btn-ro-release" data-bs-toggle="modal" data-bs-target="#modal-success" disabled=true onclick="update_success_text()">PIE test</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
                  BUX_STG Process
                </button>
              </h2>
              <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-bux" style="">
                <div class="accordion-body pt-0">
                  <div>
                    <label class="ro-env-name">STG2</label>
                    <button id="stg2-disabled-prt" class="btn btn-ro-release" disabled=true>Disable prt</button>
                    <button id="stg2-disabled-nonprt" class="btn btn-ro-release" disabled=true>Disable nonprt</button>
                    <button id="stg2-iisreset" class="btn btn-ro-release" disabled=true>IIS reset</button>
                    <button id="stg2-deploy" class="btn btn-ro-release" disabled=true>Deploy</button>
                    <button id="stg2-enabled-nonprt" class="btn btn-ro-release" disabled=true>Enable nonprt</button>
                    <button id="stg2-enabled-prt" class="btn btn-ro-release" disabled=true>Enable prt</button><br>
                    <label class="ro-env-name">STG1</label>
                    <button id="stg1-disabled-prt" class="btn btn-ro-release" disabled=true>Disable prt</button>
                    <button id="stg1-disabled-nonprt" class="btn btn-ro-release" disabled=true>Disable nonprt</button>
                    <button id="stg1-iisreset" class="btn btn-ro-release" disabled=true>IIS reset</button>
                    <button id="stg1-deploy" class="btn btn-ro-release" disabled=true>Deploy</button>
                    <button id="stg1-enabled-nonprt" class="btn btn-ro-release" disabled=true>Enable nonprt</button>
                    <button id="stg1-enabled-prt" class="btn btn-ro-release" disabled=true>Enable prt</button><br>
                    <label class="ro-env-name">STG</label>
                    <button id="stg-test" class="btn btn-ro-release" data-bs-toggle="modal" data-bs-target="#modal-success" disabled=true onclick="update_success_text()">STG test</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
                  BUX_PROD Process
                </button>
              </h2>
              <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion-bux" style="">
                <div class="accordion-body pt-0">
                  <div>
                    <label class="ro-env-name">DC2</label>
                    <button id="dc2-disabled-prt" class="btn btn-ro-release" disabled=true>Disable prt</button>
                    <button id="dc2-drain-prt" class="btn btn-ro-release" disabled=true>Drain prt</button>
                    <button id="dc2-disabled-nonprt" class="btn btn-ro-release" disabled=true>Disable nonprt</button>
                    <button id="dc2-drain-nonprt" class="btn btn-ro-release" disabled=true>Drain nonprt</button>
                    <button id="dc2-iisreset" class="btn btn-ro-release" disabled=true>IIS reset</button>
                    <button id="dc2-deploy" class="btn btn-ro-release" disabled=true>Deploy</button>
                    <button id="dc2-enabled-nonprt" class="btn btn-ro-release" disabled=true>Enable nonprt</button>
                    <button id="dc2-enabled-prt" class="btn btn-ro-release" disabled=true>Enable prt</button><br>
                    <label class="ro-env-name">DC1</label>
                    <button id="dc1-disabled-prt" class="btn btn-ro-release" disabled=true>Disable prt</button>
                    <button id="dc1-drain-prt" class="btn btn-ro-release" disabled=true>Drain prt</button>
                    <button id="dc1-disabled-nonprt" class="btn btn-ro-release" disabled=true>Disable nonprt</button>
                    <button id="dc1-drain-nonprt" class="btn btn-ro-release" disabled=true>Drain nonprt</button>
                    <button id="dc1-iisreset" class="btn btn-ro-release" disabled=true>IIS reset</button>
                    <button id="dc1-deploy" class="btn btn-ro-release" disabled=true>Deploy</button>
                    <button id="dc1-enabled-nonprt" class="btn btn-ro-release" disabled=true>Enable nonprt</button>
                    <button id="dc1-enabled-prt" class="btn btn-ro-release" disabled=true>Enable prt</button><br>
                    <label class="ro-env-name">PROD</label>
                    <button id="prod-test" class="btn btn-ro-release" data-bs-toggle="modal" data-bs-target="#modal-success" disabled=true onclick="update_success_text()">PROD test</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="visibility: visible;" aria-modal="true" role="dialog">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasTopLabel">RMP Release Object progress</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div id="ro_progress_text">
      No RMP Release Object running
    </div>
    <div id="ro_progress_bar">
    </div>
    <div class="mt-3">
      <button class="btn" type="button" data-bs-dismiss="offcanvas">
        Close
      </button>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-confirmaction" tabindex="-1" style="display: none" aria-modal="false" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modal-content" class="modal-body">
        Ready to start deployment for PIE?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancel</button>
        <button id="confirm-yes" type="button" class="btn btn-primary" data-bs-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-success" tabindex="-1" style="display: none" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-success"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><path d="M9 12l2 2l4 -4"></path></svg>
        <h3 id='test-pass'></h3>
        <div class="text-muted">Click Test Passed button and continue the release</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                Cancel
              </a></div>
            <div class="col">
              <button class="btn btn-success w-100" data-bs-dismiss="modal" onclick="update_test_success()">
                Test passed
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" style="display: none" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create RMP Release Object from Jira</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3 row">
          <label class="form-label col-3 col-form-label">Jira project</label>
          <div class="col">
            <select id="jira_project" class="form-select" onchange="read_jira_fix_version()">
              <option disabled selected style="display:none"></option>
              <option value="BUX">BUX</option>
              <option value="CBS">CBS</option>
              <option value="GWA">GWA</option>
            </select>
            <small class="form-hint">select project to create new release object.</small>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="form-label col-3 col-form-label">Jira fix version</label>
          <div class="col">
            <select id="jira_fix_version" class="form-select" disabled="">
            </select>
            <small class="form-hint">select fix version to create new release object.</small>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <label class="form-label col-3 col-form-label">Options</label>
          <div class="col">
            <label class="form-check" style="margin-top: .5rem">
              <input id="jira_released_only" class="form-check-input" type="checkbox" checked="" onclick="read_jira_fix_version()">
              <small class="form-hint">unreleased only</small>
            </label>
          </div>
        </div>
        <div class="form-footer">
          <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-auto">
              <button class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasTop" role="button" aria-controls="offcanvasTop" onclick="create_ro()">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  env = 'PIE'
  state_timeId = ''
  running_id = ''
  bux_test = {
    'PIE': '',
    'STG': '',
    'PROD': ''
  }
</script>

<script type='text/javascript'>
  window.onload = function () {

  }
</script>

<script type='text/javascript'>
  function read_jira_fix_version() {
    project = $("#jira_project").val()
    released = document.getElementById("jira_released_only").checked
    $.ajax({
      url: '/jira/fixversion/get/',
      type: 'GET',
      data: {
        project: project,
        released: !released
      },
      dataType: 'JSON',
      success: function(res) {
        jira_fix_version = ''
        fix_versions = res['fix_versions']

        if (fix_versions.length > 0){
          $('#jira_fix_version').prop('disabled', false)
        }
        else{
          $('#jira_fix_version').prop('disabled', true)
        }
        for (let i = 0; i < fix_versions.length; i++) {
          fix_version_name = fix_versions[i].name
          jira_fix_version += '<option value="' + fix_version_name + '">' + fix_version_name + '</option>'
        }
        $('#jira_fix_version').html(jira_fix_version)
      }
    })
  }
</script>

<script type='text/javascript'>
  function read_rmp_fix_version() {
    orgunit = $("#rmp_orgunit").val()
    $.ajax({
      url: '/releaseobject/fixversion/get/',
      type: 'GET',
      data: {
        orgunit: orgunit
      },
      dataType: 'JSON',
      success: function(res) {
        rmp_fix_version = ''
        fix_versions = res['fix_versions']
        if (fix_versions.length > 0){
          $('#rmp_fix_version').prop('disabled', false)
        }
        else{
          $('#rmp_fix_version').prop('disabled', true)
        }
        for (let i = 0; i < fix_versions.length; i++) {
          fix_version_name = fix_versions[i]
          rmp_fix_version += '<option value="' + fix_version_name + '">' + fix_version_name + '</option>'
        }
        $('#rmp_fix_version').html(rmp_fix_version)
      }
    })
  }
</script>

<script type='text/javascript'>
  function create_ro() {
    orgunit = $("#jira_project").val()
    fix_version = $("#jira_fix_version").val()
    if ((orgunit==null) || (fix_version==null)){
      update_progress_bar('error', 'Wrong input parameters. \
      Please select Jira project and fix version.')
      return
    }

    $('#ro-table').html('')
    update_progress_bar('running', 'Generating Release Object')

    $.ajax({
      url: '/releaseobject/create/',
      type: 'GET',
      data: {
        orgunit: orgunit,
        fixversion: fix_version
      },
      dataType: 'JSON',
      success: function(res) {
        //load_ro(orgunit, fix_version)
      }
    })
  }
</script>

<script type='text/javascript'>
  function load_ro(orgunit, fix_version) {
    if ((typeof(orgunit)=='undefined') || (typeof(fix_version)=='undefined')){
      orgunit = $("#rmp_orgunit").val()
      fix_version = $("#rmp_fix_version").val()
    }
    
    if ((orgunit==null) || (fix_version==null)){
      update_progress_bar('error', 'Wrong input parameters. \
      Please select RMP orgunit and fix version.')
      return
    }

    $('#ro-table').html('')
    update_progress_bar('running', 'Generating Release Object')

    $.ajax({
      url: '/releaseobject/get/',
      type: 'GET',
      data: {
        orgunit: orgunit,
        fixversion: fix_version
      },
      dataType: 'JSON',
      success: function(res) {
        create_ro_table(res)
        update_progress_bar('done', 'Completed')
        load_release_process_table(orgunit)
        details_text = orgunit + '-' + fix_version + '-Details'
        release_process = orgunit + '-' + fix_version + '-Release Process'
        $('#title_details').text(details_text)
        $('#title_release_process').text(release_process)
        $('#start-release').attr('disabled', false)
        $('#detail-table').css({'display': 'block'})
        $('#ro-process-title').css({'display': 'block'})
        $('#ro-process-flow').css({'display': 'block'})
      }
    })
  }
</script>

<script type='text/javascript'>
  function create_ro_table(ro) {
    fix_version = ro['information']['fixversion']
    orgunit = ro['information']['orgunit']
    octo_space = ro['information']['space']

    for (component_name in ro[fix_version]) {
      release_version = ro[fix_version][component_name]['releaseversion']
      assembled = ro[fix_version][component_name]['releaseassembled']
      environments = ro[fix_version][component_name]['environments']
      latest = ro[fix_version][component_name]['latest']
      issues = ro[fix_version][component_name]['issues']

      td = create_component(component_name, octo_space)
      td += create_release_version(component_name, release_version, octo_space)
      td += create_assembled(assembled)
      td += create_environments(environments)
      td += create_latest(release_version, latest)
      td += create_issues(issues)
      tr = '<tr>' + td + '</tr>'

      $('#ro-table').append(tr)
    }
  }
</script>

<script type='text/javascript'>
  function create_component(component_name, octo_space) {
    octo_project_name = component_name.replace('_', '-')
    td = '\
      <td>\
        <span class=\"ro-component\">\
          <a href=https://octopus.nextestate.com/app#/'
          + octo_space + '/projects/'
          + octo_project_name + '/deployments style=\"color:white\">'
            + component_name +
          '</a>\
        </span>\
      </td>'
    return td
  }
</script>

<script type='text/javascript'>
  function create_release_version(component_name, release_version, octo_space) {
    octo_project_name = component_name.replace('_', '-')
    td = '\
    <td class=\"text-muted\">\
      <a href=\"https://octopus.nextestate.com/app#/'
      + octo_space + '/projects/'
      + octo_project_name + '/deployments/releases/'
      + release_version + '\" style=\"color:#25782b; font-size: .8em\">'
        + release_version +
      '</a>\
    </td>'
    return td
  }
</script>

<script type='text/javascript'>
  function create_assembled(assembled) {
    assembled = assembled.replace('T', '<br>')
    td = '\
    <td class=\"text-muted\" style=\"font-size: .9em\">'
      + assembled +
    '</td>'
    return td
  }
</script>

<script type='text/javascript'>
  function create_environments(environments) {
    for (name in environments) {
      if (environments[name] == 'Success') {
        environments[name] = 'style=\"background-color:#21BA45\"'
      }
      else{
        environments[name] = ''
      }
      }

    td = '\
    <td class=\"ro-env-td\">\
      <label class=\"ro-env-label\">\
        <span class=\"ro-env-span\"' + environments['BUX_QA'] + '>BUX_QA</span>\
        <span class=\"ro-env-span\"' + environments['BUX_PRF'] + '>BUX_PRF</span>\
      </label>\
      <label class=\"ro-env-label\">\
        <span class=\"ro-env-span\"' + environments['BUX_PIE'] + '>BUX_PIE</span>\
      </label>\
      <label class=\"ro-env-label\">\
        <span class=\"ro-env-span\"' + environments['BUX_STG1'] + '>BUX_STG1</span>\
        <span class=\"ro-env-span\"' + environments['BUX_STG2'] + '>BUX_STG2</span>\
      </label>\
      <label class=\"ro-env-label\">\
        <span class="ro-env-span"' + environments['BUX_DC1'] + '>BUX_DC1</span>\
        <span class="ro-env-span"' + environments['BUX_DC2'] + '>BUX_DC2</span>\
      </label>\
    </td>'
    return td
  }
</script>

<script type='text/javascript'>
  function create_latest(release_version, latest) {
    result = 'false'
    td = '<td class=\"text-muted\" style=\"background-color:#ffebe6; font-size: 0.72rem\">'
      + result + '</td>'
    if (release_version == latest) {
      result = 'true'
      td = '<td class=\"text-muted\" style=\"font-size: 0.72rem\">' + result + '</td>'
    }
    return td
  }
</script>

<script type='text/javascript'>
  function create_issues(issues) {
    br = '<br>'
    spans = ''

    for (name in issues) {
      if (br =  '<br>') {
        br = ''
      }
      else {
        br = '<br>'
      }
      if (issues[name]['issuetype'] == 'Defect') {
        img = '<img src=/static/img/exclamation.png>'
      }
      else {
        img = '<img src=/static/img/viewavatar.svg>'
      }
      spans += '\
      <span class=\"ro-issue-span\">\
        <a href=https://pd.nextestate.com/browse/' + name + '>'
           + img + '  ' + name +
        '</a>\
      </span>' + br
    }
    td = '\
    <td class=\"ro-issue-td\">'
      + spans +
    '</td>'

    return td
  }
</script>

<script type='text/javascript'>
  function update_progress_bar(step, text) {
    running_progress = '\
    <div class="progress" style="margin-top: 10px; margin-bottom: 10px">\
      <div class="progress-bar progress-bar-indeterminate bg-blue">\
      </div>\
    </div>'
    completed_progress = '\
    <div class="progress" style="margin-top: 10px; margin-bottom: 10px">\
      <div class="progress-bar" style="width: 100%" role="progressbar">\
      </div>\
    </div>'
    error_progress = ''

    if (step == 'running') {
      ro_progress_bar = running_progress
    }
    else if (step == 'done') {
      ro_progress_bar = completed_progress
    }
    else if (step == 'error') {
      text = '\
      <div style="color:red">'
        + text +
      '</div>'
      ro_progress_bar = error_progress
    }
    
    $('#ro_progress_text').html(text)
    $('#ro_progress_bar').html(ro_progress_bar)
  }
</script>

<script type='text/javascript'>
  function start_next_env_test(start) {
    if (orgunit == 'BUX') {
      if (env == "PIE") {
        $('#modal-content').text("Start BUX release process on PIE.")
        $('#confirm-yes').text('Yes, start on PIE')
        $('#confirm-yes').attr("onclick", "release_process_bux('PIE', 'start')")
      }
      else if (env == "STG") {
        $('#modal-content').text("Start BUX release process on STG.")
        $('#confirm-yes').text('Yes, start on STG')
        $('#confirm-yes').attr("onclick", "release_process_bux('STG')")
      }
      else if (env == "PROD") {
        $('#modal-content').text("Start BUX release process on PROD.")
        $('#confirm-yes').text('Yes, start on PROD')
        $('#confirm-yes').attr("onclick", "release_process_bux('PROD')")
      }
      else if (env == "RELEASED") {
        $('#modal-content').text("Close BUX release, and RMP Release Object will be locked")
        $('#confirm-yes').text('Yes, close release')
        $('#confirm-yes').attr("onclick", "release_process_bux('RELEASED')")
        env = "CLOSED"
      }
      else if (env == "CLOSED") {
        $('#modal-content').text("BUX release has been closed")
        $('#confirm-yes').text('Close')
      }
    }
  }
</script>

<script type='text/javascript'>
  function get_details_orgunit() {
    details_text = $("#title_details").text()
    index = details_text.indexOf('-')
    orgunit = details_text.substring(0, index)

    return orgunit
  }
</script>

<script type='text/javascript'>
  function load_release_process_table(orgunit) {
    if (orgunit == 'BUX') {
      $('#accordion-bux').css({'display': 'block'})
    }
  }
</script>

<script type='text/javascript'>
  function release_process_bux(env, state) {
    if (env == 'RELEASED') {
      $('#start-release').text("Release closed")
      $('#start-release').attr("disabled", false)
      return
    }

    if (env == 'PIE') {
      $('#start-release').text("Release on PIE running")
      $('#start-release').attr("disabled", true)
    }
    else if (env == 'STG') {
      $('#start-release').text("Release on STG running")
      $('#start-release').attr("disabled", true)
    }
    else if (env == 'PROD') {
      $('#start-release').text("Release on PROD running")
      $('#start-release').attr("disabled", true)
    }

    $.ajax({
      url: '/releaseobject/process/run/',
      type: 'GET',
      dataType: 'JSON',
      data: {
        orgunit: orgunit,
        fixversion: fix_version,
        env: env,
        state: state
      },
      success: function(res) {
      state_timeId = setInterval(get_release_process_state, 5000)
      }
    })
  }
</script>

<script type='text/javascript'>
  function get_release_process_state () {
    $.ajax({
      url: '/releaseobject/process/get/',
      type: 'GET',
      dataType: 'JSON',
      data: {
        orgunit: orgunit,
        fixversion: fix_version
      },
      success: function(res) {
        update_step_buttons(res[orgunit][env])
        if (res[orgunit][env][env.toLowerCase() + '-test']['status'] == 'running') {
          clearInterval(state_timeId)
        }
      }
    })
  }
</script>

<script type='text/javascript'>
  function update_step_buttons(items) {
    for (key in items) {
      var button_id = '#' + key
      $(button_id).text(items[key]['text'])
      if (items[key]['status'] == 'running') {
        $(button_id).attr("disabled", false)
        $(button_id).css({'background-color': '#206bc4', 'border-color': '#206bc4'})
        if ('' == running_id) {
          button_flash(button_id, 'start')
        }
      }
      else if (items[key]['status'] == 'done') {
        $(button_id).attr("disabled", false)
        $(button_id).css({'background-color': '#21BA45', 'border-color': '#21BA45'})
        if (button_id == running_id) {
          button_flash(button_id, 'stop')
        }
      }
      else{
        $(button_id).attr("disabled", true)
        $(button_id).css({'background-color': '#767676', 'border-color': '#767676'})
      }
    }
  }
</script>

<script type='text/javascript'>
  function update_test_success() {
    var start_button_text
    var test_button
    var test_button_text
    var cur_env
    $.ajax({
      url: '/releaseobject/process/test/update/',
      type: 'GET',
      dataType: 'JSON',
      data: {
        orgunit: orgunit,
        fixversion: fix_version,
        env: env
      }
    })
    cur_env = env
    if (env == 'PIE') {
      env = 'STG'
      start_button_text = "Start Release on STG"
      test_button = "#pie-test"
      test_button_text = "PIE tested"
    }
    else if (env == 'STG') {
      env = 'PROD'
      start_button_text = "Start Release on PROD"
      test_button = "#stg-test"
      test_button_text = "STG tested"
    }
    else if (env == 'PROD') {
      env = 'RELEASED'
      start_button_text = "Close Release"
      test_button = "#prod-test"
      test_button_text = "PROD tested"
    }
    if (bux_test[cur_env] == '') {
      $('#start-release').text(start_button_text)
      $('#start-release').attr("disabled", false)
      $(test_button).text(test_button_text)
      $(test_button).css({'background-color': '#21BA45', 'border-color': '#21BA45'})
      $(test_button).attr("data-bs-toggle", "")
      $(test_button).attr("data-bs-target", "")
      button_flash(test_button, 'stop')
      bux_test[cur_env] = 'tested'
    }
  }
</script>

<script type='text/javascript'>
  function update_success_text() {
    if (env == 'PIE') {
      $('#test-pass').text("Test done on BUX PIE")
    }
    else if (env == 'STG') {
      $('#test-pass').text("Test done on BUX STG")
    }
    else if (env == 'PROD') {
      $('#test-pass').text("Test done on BUX PROD")
    }
  }
</script>

<script type='text/javascript'>
  function button_flash(id, action) {
    if (action == 'stop') {
      running_id = ''
      clearInterval(timeId)
      $(id).css({'opacity': 1})
    }
    else {
      var opacity = 0
      var interval = 1
      timeId = setInterval(function () {
        running_id = id
        opacity = opacity + interval
        if (opacity == 0) {
          interval = 1
        }
        if (opacity == 10) {
          interval = -1
        }
        $(id).css({'opacity':opacity/10})
      }, 100)
    }
  }
</script>

{% endblock %}