{% extends 'layout.html' %}

{% block item_rs %}
<li class="nav-item">
{% endblock %}

{% block item_ro %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_aws %}
<li class="nav-item active">
{% endblock %}

{% block item_f5 %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_ci %}
<li class="nav-item dropdown">
{% endblock %}

{% block item_ad %}
<li class="nav-item">
{% endblock %}

{% block item_hp %}
<li class="nav-item dropdown">
{% endblock %}

{% block content %}

{% endblock %}

{% block js %}

{% endblock %}